[package]
name = "swc-plugin-node-cjs-interop"
version = "0.1.0"
edition = "2021"

[lib]
# rlib for testing
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1.0.196", default-features = false, features = ["alloc", "derive"] }
serde_json = { version = "1.0.113", default-features = false, features = ["alloc"] }
swc_core = { version = "27.0.6", features = ["ecma_plugin_transform"] }

[dev-dependencies]
swc_ecma_parser = "15.0.2"
swc_ecma_transforms_testing = "19.0.0"
swc_ecma_transforms_typescript = "18.0.0"
testing = "13.0.0"
