[package]
name = "swc-plugin-node-cjs-interop"
version = "0.1.0"
edition = "2021"

[lib]
# rlib for testing
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1.0.204", default-features = false, features = ["alloc", "derive"] }
serde_json = { version = "1.0.113", default-features = false, features = ["alloc"] }
swc_core = { version = "44.0.2", features = ["ecma_plugin_transform"] }

[dev-dependencies]
swc_ecma_parser = "24.0.3"
swc_ecma_transforms_testing = "30.0.0"
swc_ecma_transforms_typescript = "30.0.1"
testing = "15.0.0"
