[package]
name = "swc-plugin-node-cjs-interop"
version = "0.1.0"
edition = "2021"

[lib]
# rlib for testing
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1.0.196", default-features = false, features = ["alloc", "derive"] }
serde_json = { version = "1.0.113", default-features = false, features = ["alloc"] }
swc_core = { version = "16.9.1", features = ["ecma_plugin_transform"] }
# Temporary version pinning. See: https://github.com/swc-project/swc/commit/156c3b1cdcf4c0937c20daac99d07b1d96b2c739
swc_common = "=8.0.1"

[dev-dependencies]
swc_ecma_parser = "10.0.2"
swc_ecma_transforms_testing = "11.0.1"
swc_ecma_transforms_typescript = "11.0.0"
testing = "8.0.0"
