[package]
name = "swc-plugin-node-cjs-interop"
version = "0.1.0"
edition = "2021"

[lib]
# rlib for testing
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1.0.204", default-features = false, features = ["alloc", "derive"] }
serde_json = { version = "1.0.113", default-features = false, features = ["alloc"] }
swc_core = { version = "46.0.3", features = ["ecma_plugin_transform"] }

[dev-dependencies]
swc_ecma_parser = "26.0.1"
swc_ecma_transforms_testing = "32.0.0"
swc_ecma_transforms_typescript = "32.0.0"
testing = "17.0.0"
