[package]
name = "swc-plugin-node-cjs-interop"
version = "0.1.0"
edition = "2021"

[lib]
# rlib for testing
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1.0.196", default-features = false, features = ["alloc", "derive"] }
serde_json = { version = "1.0.113", default-features = false, features = ["alloc"] }
swc_core = { version = "22.5.4", features = ["ecma_plugin_transform"] }

[dev-dependencies]
swc_ecma_parser = "11.1.4"
swc_ecma_transforms_testing = "15.0.0"
swc_ecma_transforms_typescript = "13.0.0"
testing = "9.0.0"
