{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "experimental": {
      "plugins": [
        ["swc-plugin-node-cjs-interop", {
          "packages": ["fixture-package-babel-esm"],
          "useRuntime": true
        }]
      ]
    }
  }
}
